<h1>Agregar un Post</h1>
<hr />

<form (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column">
      {{ post.userId }}
      <mat-form-field fxFlex="100">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="post.title" required />
      </mat-form-field>
      <br />
      <mat-form-field fxFlex="100">
        <mat-label>body</mat-label>
        <input matInput type="text" [(ngModel)]="post.body" required />
      </mat-form-field>

      <br />
      <div fxLayout>
        <!-- <button mat-raised-button color="primary" (click)="guardar()"> -->
        <button mat-raised-button type="submit" color="primary">Guardar</button>
      </div>
    </div>
  </div>
</form>
